<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Barcelona"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="2"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/icon6"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.example.Barcelona.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.Barcelona.PgActivity"
            android:label="@string/title_activity_pg" >
        </activity>
        <activity
            android:name="com.example.Barcelona.SgActivity"
            android:label="@string/title_activity_sg" >
        </activity>
        <activity
            android:name="com.example.Barcelona.StreetScenesActivity"
            android:label="@string/title_activity_street_scenes" >
        </activity>
    </application>

</manifest>